<ion-modal-view class="filters-modal">
    <ion-header-bar class="bar-stable bar-black ">
        <h1 class="title ">Filters</h1>
        <div class="buttons ">
            <button class="button button-clear button-light" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <div class="item select-dark">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Sorting
                    </div>
                    <select ng-model="status.selectedSorting" ng-options="sorting.name as sorting.label for sorting in filters.sortingOptions"></select>
                </label>
            </div>

            <div class="item item-divider">
                Range {{filters.range}} km
            </div>
            <div class="item range range-balanced range-dark">
                <i class="ionicons ion-ios-location-outline"></i>
                <input type="range" name="volume" min="1" max="150" ng-model="filters.range">
                <i class="ionicons ion-ios-location"></i>
            </div>

            <div class="item item-divider">
                Photo categories
            </div>
            <ion-toggle class="toggle-balanced" ng-repeat="category in photoCategories" ng-model="category.checked" ng-checked="category.checked">
                {{category.name}}
            </ion-toggle>
        </ul>
    </ion-content>
</ion-modal-view>