.filters-modal{
    background:#111;
    
    .item-toggle{
        background: $primary-dark-color;
        border: none;
        color: #fff;
    }
    
    .item.item-divider{
        background:$brand-color;
        border:none;
        color:#fff;
    }
    
    .item.range-dark{
        background: $primary-dark-color;
        color:#fff;
        border:none;
    }
    
    .item.select-dark{
        background-color: #14303C;
        border: none;
        
        label, .input-label{
            background-color: #14303C;
            color:#fff;
            border: none;
        }
        
        select{
            background-color: #14303C;
            color:#fff;
        }
    }
}