.bar.bar-stable.bar-black {
    border: none;
    /*background: rgba(0,0,0,0.6)!important;*/
    background:#111;
    color: #fff;
    
    .title{
        color:#fff;
    }
    
    .button.button-clear.button-header-light, .button.button-clear{
        color:#fff;
    }
}

/*This is to make bar transparent */
/*
.scroll-content {
  overflow: visible !important;
}
*/
.tabs-background-black .tabs {
    border-top: 1px solid #cb3b3b !important;
    background: #111 !important;
}

.tabs-background-black.tabs-top .tabs{
        border-bottom: 1px solid #cb3b3b !important;
        border-top: none  !important;
    } 
    
.text-center{
    text-align:center;
}