.map-page{
    background: $secondary-dark-color;
    
    .map-wrapper, .angular-google-map, .angular-google-map-container{
        width: 100%;
        height:100%;
    }
    
    .image-slider{
        position:absolute;
        bottom:10px;
        overflow: hidden;
        height:120px;
        width:100%;

        .photo-slide{
            background:#fff;
            border-radius:3px;
            border:1px solid #ddd;
            overflow: hidden;
            clear:both;
            margin:10px;
            padding:5px;
        }
    }
}